@import url('https://fonts.googleapis.com/css?family=Ubuntu');

* {
    font-family: 'Ubuntu'; 
    margin: 0px;
    padding: 0;
}

.Section-Title{
    font-family: 'Ubuntu'; 
    text-align: center;
    font-size: 6vh;
    font-weight: 900;
}

.Background-White{
  background-image: -webkit-linear-gradient(left, 
    rgba(0,0,0,0.9) 0%, 
    /* % tells you how much to darken from the left*/
    rgba(0,0,0,0.6) 20%,
    /* % tells you how much to darken from the left*/
    rgba(0,0,0,0.6) 80%,
    rgba(0,0,0,0.9) 100%
  ),
  url("./pics/background.webp");
  padding: 0px;
  background-size: cover;
  /* background-size: 100% 100%; */
  /* filter: blur(8px);
  -webkit-filter: blur(8px); */
  
}


.Background-Blue{
    padding: 0px;
    background-color: #0e39c8;
    filter: brightness(100%);
}