@import url('https://fonts.googleapis.com/css?family=Ubuntu');

* {
    font-family: 'Ubuntu'; 
    margin: 0px;
    padding: 0;
}

.Section-Title{
    font-family: 'Ubuntu'; 
    text-align: center;
    font-size: 6vh;
    font-weight: 900;
}

.Background-White{
    display:table;
    width:230%;
    background: linear-gradient( rgba(229, 249, 3, 0.5), rgba(7, 42, 241, 0.5) ), url("./pics/background.jpg");
    background-color: #cccccc;
    padding: 0px;
    filter: brightness(100%);
}

.Background-Blue{
    padding: 0px;
    background-color: #0e39c8;
    filter: brightness(100%);
}