@import url('https://fonts.googleapis.com/css?family=Ubuntu');
#techskills {
    text-align: center;
    padding-top: 20px;
}

#skillmark {
    color: #3b82f6;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 0.8rem;
}

.skills-icons img {
    transition: 0.5s;
    padding: 1rem 1.5rem 0.8rem 1.5rem;
    width: 40px;
    height: 40px;
}

.skill-name {
    margin: 0.01rem; 
    text-align: center;
    transition: 0.5s;
}

.skills-icons:hover img {
    transition: 0.5s;
    transform: scale(1.4);
    justify-content: center;
    align-items: center;
}

.skills-icons:hover p {
    transition: 0.5s;
    transform: scale(1.4);
    justify-content: center;
    align-items: center;
}

/* WAVES */

.wave {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.wave svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 55px;
}

.wave .shape-fill {
    /* fill: rgb(9, 92, 124); */
    fill: #226597;
}

.wave-bottom {
    position: relative;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.wave-bottom svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 96px;
}

.wave-bottom .shape-fill {
    /* fill: rgb(9, 92, 124); */
    fill: #226597;
}